[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.14"
pandas = "*"
bs4 = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
numpy = "*"
money-parser = "*"

[requires]
python_version = "3.8"
