h1 {
    color: lightskyblue;
}

#roman {
    list-style-type: upper-roman;
}

body {
    text-align: center;
    /* background-image: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif); */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: indianred;
}

div {
    margin: auto;
    width: 50%;
}